.main{
  width:768px;
}
.container{
  height:1200px;
  width:768px;
}
nav > a {
  padding-left: 10px;
  margin-bottom:10px;
  padding-right: 10px;
}
.navi--bottom__menu{
  display:block;
  padding-left:  140px;
}
.navi--bottom{
  height:300px;
}


.form__2 {
  height: 0px;
}
.slider{
  width:375px;
}
#credit--card__input{
  width:38%;
}
#credit--card__input__step--2{
  width:22%;
}
#credit--card__input__step--4{
  left:375px;
  width:65px;
}
.step_2__nojs{
  position: absolute;
  margin-bottom: 20px;
  margin-top: 55px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  background: none;
  outline: transparent;
  text-indent: 0px;
  top: 100px;
  left: 3px;
  width: 20%;
}
.step_3__nojs{
  margin-top: 55px;
  position: absolute;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
  background: none;
  outline: transparent;
  left: 130px;
  top: 100px;
  text-indent: 0px;
  width: 70px;
}
.step_4__nojs{
  margin-top: 55px;
  position: absolute;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background: none;
  outline: transparent;
  border: 1px solid #bbbbbb;
  text-indent: 0px;
  left: 220px;
  top: 100px;
  width:75px;
}

.footer__nav > a {
  padding-left: 12px;
}

.footer__nav{
  margin:0;
}
.form__2__nojs{
  height:525px;
}

#realsubmit{
  margin-top: 60px;
}
#submit{
  margin-top: 60px;
}
#credit--card__input-container{
  width:433px;
}
.input__nojs{
  margin-left: 3px;
}
